.container {
  width: 100%;
  display: flex;
}
.content {
  width: calc(100% - 256px);
}
.student {
  display: flex;
  color: black !important;
  align-items: center;
  padding-left: 20px;
}
.studentName {
margin-left: 10px;
}
