@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Shojumaru&display=swap");
.title {
  font-family: "Baloo 2", sans-serif;
  font-size: 2rem;
  color: #3A0CA3;
  text-align: center;
  margin-top: 40px;
}
.message {
  width: 100%;
  text-align: center;
}
.message p {
  color: black;
}
