@import url("https://fonts.googleapis.com/css2?family=Shojumaru&display=swap");
.container {
  width: calc(100%-40px);
  display: flex;
  height: 60px;
  background-color: #3a0ca3;
  justify-content: space-between;
  position: sticky;
  z-index: 1;
  padding: 10px 20px 0px;
  top: 0;
}
.menu {
  justify-content: flex-end;
  min-width: 50%;
  color: #ffffff;
}
.logo {
  display: flex;
  padding-top: 5px;
}
.logo img {
  width: 50px;
  height: 50px;
}
.logoSpan {
  font-family: "Shojumaru";
  text-transform: uppercase;
  font-size: 1.2em;
}
.m {
  color: #ff8d9d;
}
.a {
  color: #fce29f;
}
.g {
  color: #71dbba;
}
.i {
  color: #c8a9f1;
}
.c {
  color: #ffffff;
}
.l {
  color: #2ecffb;
}
.a {
  color: #71dbba;
}
.n {
  color: #ffffff;
}
.d {
  color: #ff8d9d;
}
