@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');
.container {
    background-color: #3A0CA3;
    width: 100%;
    padding: 20px;
    min-height: 280px;
}
.logo {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    height: 100px;
}
.logo img{
    width: 100px;
    height: 100px;
}
.logoSpan {
    font-family: 'Shojumaru';
    text-transform: uppercase;
    font-size: 2em;
}
.m {
    color: #FF8D9D;
}
.a {
    color: #FCE29F;
}
.g {
    color: #71DBBA;
}
.i {
    color: #C8A9F1;
}
.c {
    color: #FFFFFF;
}
.l {
    color: #2ECFFB;
}
.a {
    color: #71DBBA;
}
.n {
    color: #FFFFFF;
}
.d {
    color: #FF8D9D;
}
.column {
    padding: 20px;
}
.link {
    color: #FFFFFF;
    font-weight: normal;
}