.style-retangle-header {
  /* Rectangle 4 */

  position: absolute;
  width: 1512px;
  height: 565px;
  left: 0px;
  top: 103px;

  background: rgba(135, 145, 233, 0.3);
}

.text-color {
  /* Cung cấp các khóa học tốt nhất cho con của bạn */
  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 76px;
  color: #3a0ca3;
  border: 1px solid #000000;
}
