@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Shojumaru&display=swap");
.container {
  width: calc(100% - 32px);
  padding: 16px;
}
.title {
  font-family: "Baloo 2", sans-serif;
  font-size: 2rem;
  color: #3a0ca3;
  text-align: center;
  margin-top: 40px;
}
.searchBar input:hover {
  border-color: #ffd766 !important;
}
.searchBar input:focus {
  border-color: #ffd766 !important;
}
.searchBar button {
  color: black;
  background-color: #f2c955;
}
.searchBar button:hover {
  background: #ffd766 !important;
  color: black !important;
}
.picker {
  min-width: 300px;
}
.picker:hover {
  border-color: #ffd766 !important;
}
.saveButton {
  background-color: #f2c955;
  color: black !important;
  margin-right: 8px;
}
.saveButton:hover {
  background: #ffd766 !important;
  color: black !important;
  border: 1px solid #ffd766 !important;
}
.cancelButton {
  background-color: #ff6868;
  margin-right: 8px;
  color: white !important;
}
.cancelButton:hover {
  background: #fb5959 !important;
  color: white !important;
  border: 1px solid #ff6868 !important;
}
.classDetailTitle {
  font-size: 1.2rem;
}
.classDetail {
  font-size: 1.2rem;
  font-weight: bold;
}
